{
  "openapi": "3.1.0",
  "info": {
    "version": "1.0.0",
    "title": "Staking API",
    "description": "The Blockdaemon Staking API simplifies and streamlines institutional cryptocurrency staking. The API allows developers to interact with blockchain networks and perform various staking-related operations, such as delegating and undelegating tokens, in a single, unified interface.\n\nWith the Staking API, you can quickly and easily build and deploy applications that automate staking activities and increase efficiency in your blockchain operations.",
    "contact": {
      "name": "Blockdaemon",
      "email": "info@blockdaemon.com",
      "url": "https://blockdaemon.com"
    },
    "x-logo": {
      "url": "https://assets-global.website-files.com/633c5e06513fa35f3391a5f9/645d33beb6fa65f6cfb95eb8_BD%20Logo%20Stack%20-%20Purple.svg",
      "backgroundColor": "#fafafa",
      "altText": "Blockdaemon logo"
    }
  },
  "x-readme": {
    "explorer-enabled": false
  },
  "servers": [
    {
      "url": "https://svc.blockdaemon.com/boss"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "description": "When signing up for a staking account, you are provided with an API key.\n\nTo authenticate a Staking API request, pass your API key in the `X-API-Key` header.",
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    },
    "parameters": {
      "Custodian": {
        "name": "custodian",
        "in": "path",
        "required": true,
        "description": "A filter on the type of custodians.",
        "schema": {
          "type": "string",
          "description": "Custodian handle",
          "enum": [
            "metamask"
          ]
        }
      },
      "CustomerId": {
        "name": "customer_id",
        "in": "query",
        "description": "Unique ID of the customer",
        "required": false,
        "schema": {
          "type": "string",
          "description": "Unique identifier for a customer",
          "example": "SatoshiNakamoto-xUYJbPw9hw",
          "minimum": 1
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "description": "the limit of validators to return",
        "required": false,
        "schema": {
          "type": "integer",
          "default": 50
        }
      },
      "Network": {
        "name": "network",
        "in": "path",
        "description": "Protocol-specific network",
        "required": true,
        "schema": {
          "type": "string",
          "description": "Protocol-specific network.",
          "enum": [
            "mainnet",
            "localnet",
            "goerli",
            "prater",
            "holesky",
            "testnet",
            "devnet",
            "kusama",
            "westend",
            "preprod",
            "fuji",
            "local"
          ]
        }
      },
      "Networks": {
        "name": "networks",
        "in": "query",
        "required": false,
        "description": "A filter on the type of networks.",
        "schema": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "Protocol-specific network.",
            "enum": [
              "mainnet",
              "localnet",
              "goerli",
              "prater",
              "holesky",
              "testnet",
              "devnet",
              "kusama",
              "westend",
              "preprod",
              "fuji",
              "local"
            ]
          }
        }
      },
      "Offset": {
        "name": "offset",
        "in": "query",
        "description": "the offset of validators to return",
        "required": false,
        "schema": {
          "type": "integer"
        }
      },
      "Page": {
        "in": "query",
        "name": "page",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 1,
          "default": 1
        },
        "description": "The result set page to view"
      },
      "PerPage": {
        "in": "query",
        "name": "per_page",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 1,
          "maximum": 1000,
          "default": 250
        },
        "description": "The number of items to include on a single page"
      },
      "PlanId": {
        "name": "planId",
        "in": "path",
        "description": "Plan identifier",
        "required": true,
        "schema": {
          "type": "string",
          "description": "This feature enables you to stake to validators from the specified plan(s). When no plan id is specified, validators across all plans that match the API route will be available for staking. If it is a shared plan, you can to stake to validators on a shared node from the specified plan.",
          "example": "plan_Wgx98Rbi8nQuL9ddn3mTk1"
        }
      },
      "SkipOnchainValidatorStatus": {
        "name": "skip_onchain_status",
        "in": "query",
        "description": "Flag to skip retrieving onchain status",
        "schema": {
          "type": "boolean"
        }
      },
      "StakeAccountsPerPage": {
        "in": "query",
        "name": "per_page",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 1,
          "maximum": 50,
          "default": 50
        },
        "description": "The number of items to include on a single page"
      },
      "PlanStatus": {
        "name": "plan_status",
        "in": "path",
        "description": "Validator plan status",
        "required": true,
        "schema": {
          "type": "string",
          "description": "Staking API validator status",
          "x-go-type": "models.ValidatorStatus",
          "x-go-type-import": {
            "path": "go.blockdaemon.com/nodeq-server/pkg/models",
            "name": "models"
          }
        }
      },
      "Protocol": {
        "name": "protocol",
        "in": "path",
        "description": "Protocol handle",
        "required": true,
        "schema": {
          "type": "string",
          "description": "Blockchain protocol.",
          "enum": [
            "ethereum",
            "polkadot",
            "solana",
            "cosmos",
            "polygon",
            "near",
            "cardano",
            "avalanche",
            "binance"
          ]
        }
      },
      "Protocols": {
        "name": "protocols",
        "in": "query",
        "required": false,
        "description": "A filter on the type of protocols.",
        "schema": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "Blockchain protocol.",
            "enum": [
              "ethereum",
              "polkadot",
              "solana",
              "cosmos",
              "polygon",
              "near",
              "cardano",
              "avalanche",
              "binance"
            ]
          }
        }
      },
      "Providers": {
        "name": "providers",
        "in": "query",
        "required": false,
        "description": "A filter on the type of providers.",
        "schema": {
          "type": "array",
          "items": {
            "description": "Cloud provider which will host the node.",
            "x-go-type": "models.ProviderID",
            "x-go-type-import": {
              "path": "go.blockdaemon.com/nodeq-server/pkg/models",
              "name": "models"
            }
          }
        }
      },
      "Regions": {
        "name": "regions",
        "in": "query",
        "required": false,
        "description": "A filter on the type of regions.",
        "schema": {
          "type": "array",
          "items": {
            "description": "cloud provider's zone code",
            "type": "string"
          }
        }
      },
      "StakeId": {
        "name": "stake_id",
        "in": "path",
        "required": true,
        "description": "ID of the stake to retrieve.",
        "schema": {
          "description": "Unique stake identifier.",
          "type": "string",
          "format": "base58",
          "example": "stake_Wgx98Rbi8nQuL9ddn3mTk1"
        }
      },
      "StakeIntentId": {
        "name": "stake_intent_id",
        "in": "path",
        "required": true,
        "description": "ID of the stake intent to retrieve.",
        "schema": {
          "type": "string",
          "format": "base58",
          "description": "Unique idenifier for a group of stakes.",
          "example": "stake_intent_Wgx98Rbi8nQuL9ddn3mTk1"
        }
      },
      "Summary": {
        "name": "summary",
        "in": "query",
        "description": "Flag to return a summary of the schema information",
        "schema": {
          "type": "boolean"
        }
      },
      "WalletAddress": {
        "name": "wallet_address",
        "in": "query",
        "required": false,
        "description": "User wallet address.",
        "schema": {
          "type": "string",
          "description": "Hex-encoded Ethereum [account or smart contract address](https://ethereum.org/en/developers/docs/accounts/).",
          "format": "hex",
          "pattern": "^0x[a-fA-F0-9]{40}$",
          "example": "0x00000000219ab540356cBB839Cbe05303d7705Fa"
        }
      },
      "MevEnabled": {
        "in": "query",
        "name": "mev_enabled",
        "required": false,
        "schema": {
          "type": "boolean"
        },
        "description": "A filter on MEV on/off"
      },
      "ClientID": {
        "name": "X-Client-ID",
        "in": "header",
        "description": "Unique ID of the client/customer",
        "schema": {
          "type": "string",
          "minLength": 1
        },
        "required": true
      },
      "IdempotencyKey": {
        "in": "header",
        "name": "Idempotency-Key",
        "description": "the unique idempotency key for this request",
        "example": "f1c971b4-7114-4c4b-8ad2-a6f9e33e2cd0",
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "required": false
      },
      "EthereumExitEpoch": {
        "name": "epoch",
        "in": "query",
        "schema": {
          "type": "integer",
          "description": "Earliest epoch when voluntary exit can be processed.\nIf not provided the earliest possible epoch will be fetched from the network.\n",
          "format": "uint64",
          "example": 1001
        }
      },
      "EthereumNetwork": {
        "name": "network",
        "in": "path",
        "description": "Ethereum network",
        "required": true,
        "schema": {
          "type": "string",
          "description": "Ethereum network",
          "enum": [
            "mainnet",
            "holesky"
          ]
        }
      },
      "EthereumValidatorIndexParam": {
        "name": "validator_index",
        "in": "query",
        "schema": {
          "type": "integer",
          "description": "Validator index",
          "format": "uint64",
          "example": 25
        }
      },
      "EthereumValidatorPublicKey": {
        "name": "validator_public_key",
        "in": "query",
        "description": "Validator public key",
        "schema": {
          "type": "string",
          "description": "Public Key of an asymmetric key-pair.",
          "format": "hex",
          "example": "0xa1d1ad0714035353258038e964ae9675dc0252ee22cea896825c01458e1807bfad2f9969338798548d9858a571f7425c"
        }
      },
      "Wallets": {
        "name": "wallets",
        "description": "Array of wallets",
        "in": "query",
        "required": false,
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "ShowEthereumForkVersion": {
        "name": "show_fork_version",
        "in": "query",
        "description": "When this parameter is set to `true`, the response will include the field `fork_version` indicating the fork version constant for the currently active fork.\n\nThe fork versions values are unique for each network and each fork. As an example, here is the constants preset file for Mainnet:\nhttps://github.com/ethereum/consensus-specs/blob/dev/configs/mainnet.yaml",
        "required": false,
        "schema": {
          "type": "boolean"
        }
      },
      "EthereumDepositsCount": {
        "name": "deposits_count",
        "in": "query",
        "description": "Number of deposits to include in the batch",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "uint",
          "minimum": 1
        }
      },
      "WithdrawalAddress": {
        "name": "withdrawal_address",
        "in": "path",
        "description": "Withdrawal address",
        "required": true,
        "schema": {
          "type": "string",
          "description": "Hex-encoded Ethereum [account or smart contract address](https://ethereum.org/en/developers/docs/accounts/).",
          "format": "hex",
          "pattern": "^0x[a-fA-F0-9]{40}$",
          "example": "0x00000000219ab540356cBB839Cbe05303d7705Fa"
        }
      },
      "SolanaDelegatorAddress": {
        "name": "delegator_address",
        "in": "query",
        "required": false,
        "description": "A filter on the delegator address",
        "schema": {
          "type": "string",
          "description": "Public Key of an asymmetric key-pair.",
          "format": "base58",
          "pattern": "^[1-9A-HJ-NP-Za-km-z]{44}$",
          "example": "5xot9PVkphiX2adznghwrAuxGs2zeWisNSxMW6hU6Hkj"
        }
      },
      "SolanaWithdrawalAuthorityAddress": {
        "name": "withdrawal_authority",
        "in": "query",
        "required": false,
        "description": "A filter on the withdrawal authority address",
        "schema": {
          "type": "string",
          "description": "Public Key of an asymmetric key-pair.",
          "format": "base58",
          "pattern": "^[1-9A-HJ-NP-Za-km-z]{44}$",
          "example": "5xot9PVkphiX2adznghwrAuxGs2zeWisNSxMW6hU6Hkj"
        }
      },
      "SolanaStakingAuthorityAddress": {
        "name": "staking_authority",
        "in": "query",
        "required": false,
        "description": "A filter on the staking authority address",
        "schema": {
          "type": "string",
          "description": "Public Key of an asymmetric key-pair.",
          "format": "base58",
          "pattern": "^[1-9A-HJ-NP-Za-km-z]{44}$",
          "example": "5xot9PVkphiX2adznghwrAuxGs2zeWisNSxMW6hU6Hkj"
        }
      },
      "NearNetwork": {
        "name": "network",
        "in": "path",
        "description": "NEAR network",
        "required": true,
        "schema": {
          "type": "string",
          "description": "NEAR network",
          "enum": [
            "mainnet",
            "testnet",
            "localnet"
          ]
        }
      },
      "PolygonNetwork": {
        "name": "network",
        "in": "path",
        "description": "Polygon network",
        "required": true,
        "schema": {
          "type": "string",
          "description": "Polygon network",
          "enum": [
            "mainnet",
            "goerli",
            "prater"
          ]
        }
      },
      "SolanaNetwork": {
        "name": "network",
        "in": "path",
        "description": "Solana network",
        "required": true,
        "schema": {
          "type": "string",
          "description": "Solana network",
          "enum": [
            "mainnet",
            "testnet"
          ]
        }
      },
      "CardanoNetwork": {
        "name": "network",
        "in": "path",
        "description": "Cardano network",
        "required": true,
        "schema": {
          "type": "string",
          "description": "Cardano network",
          "enum": [
            "mainnet",
            "preprod",
            "localnet"
          ]
        }
      },
      "NearWallets": {
        "name": "wallets",
        "description": "Array of NEAR wallets",
        "in": "query",
        "required": false,
        "schema": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "Base58 encoded public key or registered named account. [Accounts](https://docs.near.org/concepts/basics/accounts/account-id/).",
            "pattern": "^([a-km-zA-HJ-NP-Z1-9]{22,44})|((([a-z\\d]+[-_])*[a-z\\d]+\\.)*([a-z\\d]+[-_])*[a-z\\d]+)$",
            "example": "alice.near"
          }
        }
      },
      "PolkadotNetwork": {
        "name": "network",
        "in": "path",
        "description": "Polkadot network",
        "required": true,
        "schema": {
          "type": "string",
          "description": "Coin network",
          "enum": [
            "mainnet",
            "kusama",
            "westend"
          ]
        }
      },
      "AvaxNetwork": {
        "name": "network",
        "in": "path",
        "description": "Avalanche network",
        "required": true,
        "schema": {
          "type": "string",
          "description": "Avalanche network",
          "enum": [
            "mainnet",
            "fuji",
            "local"
          ]
        }
      },
      "CosmosNetwork": {
        "name": "network",
        "in": "path",
        "description": "Cosmos network",
        "required": true,
        "schema": {
          "type": "string",
          "description": "Cosmos network",
          "enum": [
            "mainnet",
            "testnet"
          ]
        }
      },
      "CosmosWallets": {
        "name": "wallets",
        "description": "Array of Cosmos wallets",
        "in": "query",
        "required": false,
        "schema": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "Public Key of an asymmetric key-pair.",
            "format": "bech32",
            "pattern": "^cosmos[1-9a-zA-Z]{39}$",
            "example": "cosmos1wvvhhfm387xvfnqshmdaunnpujjrdxznr5d5x9"
          }
        }
      },
      "BinanceNetwork": {
        "name": "network",
        "in": "path",
        "description": "Binance network",
        "required": true,
        "schema": {
          "type": "string",
          "description": "Binance beacon chain network",
          "enum": [
            "mainnet",
            "testnet"
          ]
        }
      },
      "BinanceWallets": {
        "name": "wallets",
        "description": "Array of Binance wallets",
        "in": "query",
        "required": false,
        "schema": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "Binance beacon chain address.",
            "format": "bech32",
            "pattern": "^bnb[0-9a-z]+$",
            "example": "bnb13ym5szfmwh0wz9j8wr2lu2gaml94h895u9el2e"
          }
        }
      }
    },
    "responses": {
      "Cancelled": {
        "description": "Cancellation Successful",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "description": "Success Response",
              "required": [
                "code",
                "message"
              ],
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status Code",
                  "example": 201
                },
                "message": {
                  "type": "string",
                  "description": "Confirmation Message",
                  "example": "Canceled"
                }
              }
            }
          }
        }
      },
      "BootstrappingIntent": {
        "description": "Bootstrapping intent created",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "protocol",
                "network",
                "customer_id"
              ],
              "properties": {
                "protocol": {
                  "type": "string",
                  "description": "Blockchain protocol.",
                  "enum": [
                    "ethereum",
                    "polkadot",
                    "solana",
                    "cosmos",
                    "polygon",
                    "near",
                    "cardano",
                    "avalanche",
                    "binance"
                  ],
                  "example": "polygon"
                },
                "network": {
                  "type": "string",
                  "description": "Protocol-specific network.",
                  "enum": [
                    "mainnet",
                    "localnet",
                    "goerli",
                    "prater",
                    "holesky",
                    "testnet",
                    "devnet",
                    "kusama",
                    "westend",
                    "preprod",
                    "fuji",
                    "local"
                  ]
                },
                "polygon": {
                  "type": "object",
                  "description": "Polygon Bootstrapping Intent",
                  "required": [
                    "to",
                    "unsigned_transaction",
                    "wallet_address"
                  ],
                  "properties": {
                    "to": {
                      "type": "string",
                      "description": "Hex-encoded Ethereum [account or smart contract address](https://ethereum.org/en/developers/docs/accounts/).",
                      "format": "hex",
                      "pattern": "^0x[a-fA-F0-9]{40}$",
                      "example": "0x00000000219ab540356cBB839Cbe05303d7705Fa"
                    },
                    "unsigned_transaction": {
                      "type": "string",
                      "format": "base64",
                      "description": "Generated unsigned transaction smart contract call data.",
                      "example": "0x22895118000000000000000000000000000000000000000000000000000000000000008000000000000000000000000000000000000000000000000000000000000000e00000000000000000000000000000000000000000000000000000000000000120087fed394b43849eebef1e88873cd9efdbe33136656e5148e659b8b2f33625d40000000000000000000000000000000000000000000000000000000000000030b81748644e23c4d950f9dd709f3eb73d5eacd9657997e1d9dde7c4ebd8a6519ecb9d0a7fb603d3b68e023278f9650122000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020010000000000000000000000c509bb854c526af4cee5e037089f7aa8e091d8870000000000000000000000000000000000000000000000000000000000000060b36b79b4b206c0310472c117fa40c05342b5dc3e89f98f42c9da3ce6450d4c603cad55248017fd4eca3ab277cca64569193e4d487f5b2ea78a2bcdc81926c313c05842a3af318967a775783bba22519e8b8886587efa99aa7dab5784f792b187\n"
                    },
                    "wallet_address": {
                      "type": "string",
                      "description": "Hex-encoded Ethereum [account or smart contract address](https://ethereum.org/en/developers/docs/accounts/).",
                      "format": "hex",
                      "pattern": "^0x[a-fA-F0-9]{40}$",
                      "example": "0x00000000219ab540356cBB839Cbe05303d7705Fa"
                    }
                  }
                },
                "customer_id": {
                  "type": "string",
                  "description": "Unique identifier for a customer",
                  "example": "SatoshiNakamoto-xUYJbPw9hw",
                  "minimum": 1
                }
              }
            }
          }
        }
      },
      "DeactivationIntents": {
        "description": "List of deactivation intents.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "description": "Deactivation intents",
              "required": [
                "protocol",
                "network",
                "customer_id"
              ],
              "properties": {
                "protocol": {
                  "type": "string",
                  "description": "Blockchain protocol.",
                  "enum": [
                    "ethereum",
                    "polkadot",
                    "solana",
                    "cosmos",
                    "polygon",
                    "near",
                    "cardano",
                    "avalanche",
                    "binance"
                  ]
                },
                "network": {
                  "type": "string",
                  "description": "Protocol-specific network.",
                  "enum": [
                    "mainnet",
                    "localnet",
                    "goerli",
                    "prater",
                    "holesky",
                    "testnet",
                    "devnet",
                    "kusama",
                    "westend",
                    "preprod",
                    "fuji",
                    "local"
                  ]
                },
                "polygon": {
                  "type": "object",
                  "required": [
                    "items",
                    "wallet_address"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Unbond information",
                        "required": [
                          "nonce",
                          "amount",
                          "withdraw_epoch"
                        ],
                        "properties": {
                          "nonce": {
                            "type": "integer",
                            "description": "Number for one use only",
                            "example": 1
                          },
                          "amount": {
                            "type": "string",
                            "description": "Denomination of the cryptocurrency Polygon.",
                            "pattern": "^[1-9]\\d+$",
                            "example": "100"
                          },
                          "withdraw_epoch": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "wallet_address": {
                      "type": "string",
                      "description": "Hex-encoded Ethereum [account or smart contract address](https://ethereum.org/en/developers/docs/accounts/).",
                      "format": "hex",
                      "pattern": "^0x[a-fA-F0-9]{40}$",
                      "example": "0x00000000219ab540356cBB839Cbe05303d7705Fa"
                    }
                  }
                },
                "solana": {
                  "description": "List of deactivation intents",
                  "type": "array",
                  "items": {
                    "allOf": [
                      {
                        "type": "object",
                        "required": [
                          "deactivate_intent_id",
                          "customer_id"
                        ],
                        "properties": {
                          "deactivate_intent_id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Unique idenifier for deactivate intent.",
                            "example": "4ba06e89-8c29-483e-ac36-318de5aa7364"
                          },
                          "customer_id": {
                            "type": "string",
                            "description": "Unique identifier for a customer",
                            "example": "SatoshiNakamoto-xUYJbPw9hw",
                            "minimum": 1
                          }
                        }
                      },
                      {
                        "type": "object",
                        "description": "Response to a new deactivation intent request.",
                        "required": [
                          "network",
                          "protocol",
                          "solana"
                        ],
                        "properties": {
                          "protocol": {
                            "type": "string",
                            "description": "Solana protocol",
                            "enum": [
                              "solana"
                            ]
                          },
                          "network": {
                            "type": "string",
                            "description": "Solana network",
                            "enum": [
                              "mainnet",
                              "testnet"
                            ]
                          },
                          "solana": {
                            "type": "object",
                            "description": "Result of the new Deactivate Intent request.",
                            "required": [
                              "total_deactivated_amount",
                              "deactivates",
                              "splits"
                            ],
                            "properties": {
                              "deactivates": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "description": "Result of the deactivation transaction request",
                                  "required": [
                                    "unsigned_transaction",
                                    "stake_account_authority",
                                    "stake_account_address",
                                    "withdrawal_authority",
                                    "stake_id",
                                    "amount",
                                    "expiration_time"
                                  ],
                                  "properties": {
                                    "unsigned_transaction": {
                                      "type": "string",
                                      "format": "base64",
                                      "description": "Generated unsigned transaction smart contract call data.",
                                      "example": "0x22895118000000000000000000000000000000000000000000000000000000000000008000000000000000000000000000000000000000000000000000000000000000e00000000000000000000000000000000000000000000000000000000000000120087fed394b43849eebef1e88873cd9efdbe33136656e5148e659b8b2f33625d40000000000000000000000000000000000000000000000000000000000000030b81748644e23c4d950f9dd709f3eb73d5eacd9657997e1d9dde7c4ebd8a6519ecb9d0a7fb603d3b68e023278f9650122000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020010000000000000000000000c509bb854c526af4cee5e037089f7aa8e091d8870000000000000000000000000000000000000000000000000000000000000060b36b79b4b206c0310472c117fa40c05342b5dc3e89f98f42c9da3ce6450d4c603cad55248017fd4eca3ab277cca64569193e4d487f5b2ea78a2bcdc81926c313c05842a3af318967a775783bba22519e8b8886587efa99aa7dab5784f792b187\n"
                                    },
                                    "stake_account_authority": {
                                      "type": "string",
                                      "description": "Public Key of an asymmetric key-pair.",
                                      "format": "base58",
                                      "pattern": "^[1-9A-HJ-NP-Za-km-z]{44}$",
                                      "example": "5xot9PVkphiX2adznghwrAuxGs2zeWisNSxMW6hU6Hkj"
                                    },
                                    "stake_account_address": {
                                      "type": "string",
                                      "description": "Public Key of an asymmetric key-pair.",
                                      "format": "base58",
                                      "pattern": "^[1-9A-HJ-NP-Za-km-z]{44}$",
                                      "example": "5xot9PVkphiX2adznghwrAuxGs2zeWisNSxMW6hU6Hkj"
                                    },
                                    "withdrawal_authority": {
                                      "type": "string",
                                      "description": "Public Key of an asymmetric key-pair.",
                                      "format": "base58",
                                      "pattern": "^[1-9A-HJ-NP-Za-km-z]{44}$",
                                      "example": "5xot9PVkphiX2adznghwrAuxGs2zeWisNSxMW6hU6Hkj"
                                    },
                                    "stake_id": {
                                      "description": "Unique stake identifier.",
                                      "type": "string",
                                      "format": "base58",
                                      "example": "stake_Wgx98Rbi8nQuL9ddn3mTk1"
                                    },
                                    "amount": {
                                      "type": "string",
                                      "description": "Denomination of the cryptocurrency Solana.",
                                      "pattern": "^[1-9]\\d+$",
                                      "example": "100"
                                    },
                                    "expiration_time": {
                                      "type": "integer",
                                      "description": "Transaction expiration time",
                                      "format": "int64",
                                      "example": 1689939023
                                    }
                                  }
                                }
                              },
                              "splits": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "description": "Result of the split transaction request",
                                  "required": [
                                    "unsigned_transaction",
                                    "stake_account_authority",
                                    "new_stake_account_address",
                                    "new_stake_id",
                                    "splitted_stake_account_address",
                                    "splitted_stake_id",
                                    "amount"
                                  ],
                                  "properties": {
                                    "unsigned_transaction": {
                                      "type": "string",
                                      "format": "base64",
                                      "description": "Generated unsigned transaction smart contract call data.",
                                      "example": "0x22895118000000000000000000000000000000000000000000000000000000000000008000000000000000000000000000000000000000000000000000000000000000e00000000000000000000000000000000000000000000000000000000000000120087fed394b43849eebef1e88873cd9efdbe33136656e5148e659b8b2f33625d40000000000000000000000000000000000000000000000000000000000000030b81748644e23c4d950f9dd709f3eb73d5eacd9657997e1d9dde7c4ebd8a6519ecb9d0a7fb603d3b68e023278f9650122000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020010000000000000000000000c509bb854c526af4cee5e037089f7aa8e091d8870000000000000000000000000000000000000000000000000000000000000060b36b79b4b206c0310472c117fa40c05342b5dc3e89f98f42c9da3ce6450d4c603cad55248017fd4eca3ab277cca64569193e4d487f5b2ea78a2bcdc81926c313c05842a3af318967a775783bba22519e8b8886587efa99aa7dab5784f792b187\n"
                                    },
                                    "stake_account_authority": {
                                      "type": "string",
                                      "description": "Public Key of an asymmetric key-pair.",
                                      "format": "base58",
                                      "pattern": "^[1-9A-HJ-NP-Za-km-z]{44}$",
                                      "example": "5xot9PVkphiX2adznghwrAuxGs2zeWisNSxMW6hU6Hkj"
                                    },
                                    "new_stake_account_address": {
                                      "type": "string",
                                      "description": "Public Key of an asymmetric key-pair.",
                                      "format": "base58",
                                      "pattern": "^[1-9A-HJ-NP-Za-km-z]{44}$",
                                      "example": "5xot9PVkphiX2adznghwrAuxGs2zeWisNSxMW6hU6Hkj"
                                    },
                                    "new_stake_id": {
                                      "description": "Unique stake identifier.",
                                      "type": "string",
                                      "format": "base58",
                                      "example": "stake_Wgx98Rbi8nQuL9ddn3mTk1"
                                    },
                                    "splitted_stake_account_address": {
                                      "type": "string",
                                      "description": "Public Key of an asymmetric key-pair.",
                                      "format": "base58",
                                      "pattern": "^[1-9A-HJ-NP-Za-km-z]{44}$",
                                      "example": "5xot9PVkphiX2adznghwrAuxGs2zeWisNSxMW6hU6Hkj"
                                    },
                                    "splitted_stake_id": {
                                      "description": "Unique stake identifier.",
                                      "type": "string",
                                      "format": "base58",
                                      "example": "stake_Wgx98Rbi8nQuL9ddn3mTk1"
                                    },
                                    "amount": {
                                      "type": "string",
                                      "description": "Denomination of the cryptocurrency Solana.",
                                      "pattern": "^[1-9]\\d+$",
                                      "example": "100"
                                    }
                                  }
                                }
                              },
                              "total_deactivated_amount": {
                                "type": "string",
                                "description": "Denomination of the cryptocurrency Solana.",
                                "pattern": "^[1-9]\\d+$",
                                "example": "100"
                              }
                            }
                          }
                        }
                      }
                    ]
                  }
                },
                "near": {
                  "type": "array",
                  "description": "List of deactivation intents",
                  "items": {
                    "allOf": [
                      {
                        "type": "object",
                        "required": [
                          "deactivate_intent_id",
                          "customer_id"
                        ],
                        "properties": {
                          "deactivate_intent_id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Unique idenifier for deactivate intent.",
                            "example": "4ba06e89-8c29-483e-ac36-318de5aa7364"
                          },
                          "customer_id": {
                            "type": "string",
                            "description": "Unique identifier for a customer",
                            "example": "SatoshiNakamoto-xUYJbPw9hw",
                            "minimum": 1
                          }
                        }
                      },
                      {
                        "type": "object",
                        "description": "Response to a new deactivation intent request.",
                        "required": [
                          "protocol",
                          "network",
                          "near"
                        ],
                        "properties": {
                          "protocol": {
                            "type": "string",
                            "description": "Near protocol",
                            "enum": [
                              "near"
                            ]
                          },
                          "network": {
                            "type": "string",
                            "description": "NEAR network",
                            "enum": [
                              "mainnet",
                              "testnet",
                              "localnet"
                            ]
                          },
                          "near": {
                            "type": "object",
                            "description": "NEAR Protocol Deactivate Intent",
                            "required": [
                              "to",
                              "unsigned_transaction",
                              "amount",
                              "wallet_address",
                              "public_key",
                              "expiration_time"
                            ],
                            "properties": {
                              "to": {
                                "type": "string",
                                "description": "Base58 encoded public key or registered named account. [Accounts](https://docs.near.org/concepts/basics/accounts/account-id/).",
                                "pattern": "^([a-km-zA-HJ-NP-Z1-9]{22,44})|((([a-z\\d]+[-_])*[a-z\\d]+\\.)*([a-z\\d]+[-_])*[a-z\\d]+)$",
                                "example": "alice.near"
                              },
                              "unsigned_transaction": {
                                "type": "string",
                                "format": "base64",
                                "description": "Generated unsigned transaction smart contract call data.",
                                "example": "0x22895118000000000000000000000000000000000000000000000000000000000000008000000000000000000000000000000000000000000000000000000000000000e00000000000000000000000000000000000000000000000000000000000000120087fed394b43849eebef1e88873cd9efdbe33136656e5148e659b8b2f33625d40000000000000000000000000000000000000000000000000000000000000030b81748644e23c4d950f9dd709f3eb73d5eacd9657997e1d9dde7c4ebd8a6519ecb9d0a7fb603d3b68e023278f9650122000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020010000000000000000000000c509bb854c526af4cee5e037089f7aa8e091d8870000000000000000000000000000000000000000000000000000000000000060b36b79b4b206c0310472c117fa40c05342b5dc3e89f98f42c9da3ce6450d4c603cad55248017fd4eca3ab277cca64569193e4d487f5b2ea78a2bcdc81926c313c05842a3af318967a775783bba22519e8b8886587efa99aa7dab5784f792b187\n"
                              },
                              "amount": {
                                "type": "string",
                                "description": "Denomination of NEAR Protocol.",
                                "pattern": "^[1-9]\\d+$",
                                "example": "100000000000000000000000000"
                              },
                              "wallet_address": {
                                "type": "string",
                                "description": "Base58 encoded public key or registered named account. [Accounts](https://docs.near.org/concepts/basics/accounts/account-id/).",
                                "pattern": "^([a-km-zA-HJ-NP-Z1-9]{22,44})|((([a-z\\d]+[-_])*[a-z\\d]+\\.)*([a-z\\d]+[-_])*[a-z\\d]+)$",
                                "example": "alice.near"
                              },
                              "public_key": {
                                "type": "string",
                                "description": "Base58 encoded public key prefixed by ed25519, associated with the private key that will be used to sign the transaction.",
                                "example": "ed25519:Cxg2wgFYrdLTEkMu6j5D6aEZqTb3kXbmJygS48ZKbo1S",
                                "pattern": "^ed25519:[a-km-zA-HJ-NP-Z1-9]{22,44}$"
                              },
                              "expiration_time": {
                                "type": "integer",
                                "description": "Transaction expiration time",
                                "format": "int64",
                                "example": 1689939023
                              }
                            }
                          }
                        }
                      }
                    ]
                  }
                },
                "cardano": {
                  "type": "array",
                  "description": "List of deactivation intents",
                  "items": {
                    "type": "object",
                    "description": "Cardano Protocol Deactivate Intent",
                    "required": [
                      "deactivate_intent_id",
                      "base_address",
                      "unsigned_transaction"
                    ],
                    "properties": {
                      "deactivate_intent_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Unique idenifier for deactivate intent.",
                        "example": "4ba06e89-8c29-483e-ac36-318de5aa7364"
                      },
                      "base_address": {
                        "type": "string",
                        "description": "bech32 encoded base address. [Accounts](https://cips.cardano.org/cips/cip19/).",
                        "format": "bech32",
                        "example": "addr1vpu5vlrf4xkxv2qpwngf6cjhtw542ayty80v8dyr49rf5eg0yu80w"
                      },
                      "unsigned_transaction": {
                        "type": "string",
                        "format": "base64",
                        "description": "Generated unsigned transaction smart contract call data.",
                        "example": "0x22895118000000000000000000000000000000000000000000000000000000000000008000000000000000000000000000000000000000000000000000000000000000e00000000000000000000000000000000000000000000000000000000000000120087fed394b43849eebef1e88873cd9efdbe33136656e5148e659b8b2f33625d40000000000000000000000000000000000000000000000000000000000000030b81748644e23c4d950f9dd709f3eb73d5eacd9657997e1d9dde7c4ebd8a6519ecb9d0a7fb603d3b68e023278f9650122000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020010000000000000000000000c509bb854c526af4cee5e037089f7aa8e091d8870000000000000000000000000000000000000000000000000000000000000060b36b79b4b206c0310472c117fa40c05342b5dc3e89f98f42c9da3ce6450d4c603cad55248017fd4eca3ab277cca64569193e4d487f5b2ea78a2bcdc81926c313c05842a3af318967a775783bba22519e8b8886587efa99aa7dab5784f792b187\n"
                      }
                    }
                  }
                },
                "cosmos": {
                  "type": "array",
                  "description": "List of deactivation intents",
                  "items": {
                    "allOf": [
                      {
                        "type": "object",
                        "required": [
                          "deactivate_intent_id",
                          "customer_id"
                        ],
                        "properties": {
                          "deactivate_intent_id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Unique idenifier for deactivate intent.",
                            "example": "4ba06e89-8c29-483e-ac36-318de5aa7364"
                          },
                          "customer_id": {
                            "type": "string",
                            "description": "Unique identifier for a customer",
                            "example": "SatoshiNakamoto-xUYJbPw9hw",
                            "minimum": 1
                          }
                        }
                      },
                      {
                        "type": "object",
                        "description": "Response to a new deactivation intent request.",
                        "required": [
                          "protocol",
                          "network",
                          "cosmos"
                        ],
                        "properties": {
                          "protocol": {
                            "type": "string",
                            "description": "Cosmos protocol",
                            "enum": [
                              "cosmos"
                            ]
                          },
                          "network": {
                            "type": "string",
                            "description": "Cosmos network",
                            "enum": [
                              "mainnet",
                              "testnet"
                            ]
                          },
                          "cosmos": {
                            "type": "object",
                            "description": "Cosmos Deactivate Intent",
                            "required": [
                              "unsigned_transaction",
                              "delegator_address",
                              "validator_address",
                              "amount"
                            ],
                            "properties": {
                              "unsigned_transaction": {
                                "type": "string",
                                "format": "base64",
                                "description": "Generated unsigned transaction smart contract call data.",
                                "example": "0x22895118000000000000000000000000000000000000000000000000000000000000008000000000000000000000000000000000000000000000000000000000000000e00000000000000000000000000000000000000000000000000000000000000120087fed394b43849eebef1e88873cd9efdbe33136656e5148e659b8b2f33625d40000000000000000000000000000000000000000000000000000000000000030b81748644e23c4d950f9dd709f3eb73d5eacd9657997e1d9dde7c4ebd8a6519ecb9d0a7fb603d3b68e023278f9650122000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020010000000000000000000000c509bb854c526af4cee5e037089f7aa8e091d8870000000000000000000000000000000000000000000000000000000000000060b36b79b4b206c0310472c117fa40c05342b5dc3e89f98f42c9da3ce6450d4c603cad55248017fd4eca3ab277cca64569193e4d487f5b2ea78a2bcdc81926c313c05842a3af318967a775783bba22519e8b8886587efa99aa7dab5784f792b187\n"
                              },
                              "delegator_address": {
                                "type": "string",
                                "description": "Public Key of an asymmetric key-pair.",
                                "format": "bech32",
                                "pattern": "^cosmos[1-9a-zA-Z]{39}$",
                                "example": "cosmos1wvvhhfm387xvfnqshmdaunnpujjrdxznr5d5x9"
                              },
                              "validator_address": {
                                "type": "string",
                                "description": "Public Key of an asymmetric key-pair.",
                                "format": "bech32",
                                "pattern": "^cosmos[1-9a-zA-Z]{39}$",
                                "example": "cosmos1wvvhhfm387xvfnqshmdaunnpujjrdxznr5d5x9"
                              },
                              "amount": {
                                "type": "string",
                                "description": "Denomination of the cryptocurrency Cosmos.",
                                "pattern": "^[1-9]\\d+$",
                                "example": "100"
                              }
                            }
                          }
                        }
                      }
                    ]
                  }
                },
                "binance": {
                  "type": "array",
                  "description": "List of deactivation intents",
                  "items": {
                    "allOf": [
                      {
                        "type": "object",
                        "required": [
                          "deactivate_intent_id",
                          "customer_id"
                        ],
                        "properties": {
                          "deactivate_intent_id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Unique idenifier for deactivate intent.",
                            "example": "4ba06e89-8c29-483e-ac36-318de5aa7364"
                          },
                          "customer_id": {
                            "type": "string",
                            "description": "Unique identifier for a customer",
                            "example": "SatoshiNakamoto-xUYJbPw9hw",
                            "minimum": 1
                          }
                        }
                      },
                      {
                        "type": "object",
                        "description": "Response to a new deactivation intent request.",
                        "required": [
                          "protocol",
                          "network",
                          "binance"
                        ],
                        "properties": {
                          "protocol": {
                            "type": "string",
                            "description": "Binance beacon chain protocol",
                            "enum": [
                              "binance"
                            ]
                          },
                          "network": {
                            "type": "string",
                            "description": "Binance beacon chain network",
                            "enum": [
                              "mainnet",
                              "testnet"
                            ]
                          },
                          "binance": {
                            "type": "object",
                            "description": "Binance Deactivate Intent",
                            "required": [
                              "unsigned_transaction",
                              "delegator_address",
                              "validator_address",
                              "amount"
                            ],
                            "properties": {
                              "unsigned_transaction": {
                                "type": "string",
                                "format": "base64",
                                "description": "Generated unsigned transaction smart contract call data.",
                                "example": "0x22895118000000000000000000000000000000000000000000000000000000000000008000000000000000000000000000000000000000000000000000000000000000e00000000000000000000000000000000000000000000000000000000000000120087fed394b43849eebef1e88873cd9efdbe33136656e5148e659b8b2f33625d40000000000000000000000000000000000000000000000000000000000000030b81748644e23c4d950f9dd709f3eb73d5eacd9657997e1d9dde7c4ebd8a6519ecb9d0a7fb603d3b68e023278f9650122000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020010000000000000000000000c509bb854c526af4cee5e037089f7aa8e091d8870000000000000000000000000000000000000000000000000000000000000060b36b79b4b206c0310472c117fa40c05342b5dc3e89f98f42c9da3ce6450d4c603cad55248017fd4eca3ab277cca64569193e4d487f5b2ea78a2bcdc81926c313c05842a3af318967a775783bba22519e8b8886587efa99aa7dab5784f792b187\n"
                              },
                              "delegator_address": {
                                "type": "string",
                                "description": "Binance beacon chain address.",
                                "format": "bech32",
                                "pattern": "^bnb[0-9a-z]+$",
                                "example": "bnb13ym5szfmwh0wz9j8wr2lu2gaml94h895u9el2e"
                              },
                              "validator_address": {
                                "type": "string",
                                "description": "Binance beacon chain validator address.",
                                "format": "bech32",
                                "pattern": "^bva[0-9a-zA-Z]*$",
                                "example": "bva1mrpf5n5e5knn3z9qng5pnex3m9pvyhg6434j0t"
                              },
                              "amount": {
                                "type": "string",
                                "description": "The smallest denomination of Binance Coin (BNB) is called Jager. 1 Jager =0.00000001 BNB.",
                                "pattern": "^[1-9]\\d+$",
                                "example": "10000000000"
                              }
                            }
                          }
                        }
                      }
                    ]
                  }
                },
                "customer_id": {
                  "type": "string",
                  "description": "Unique identifier for a customer",
                  "example": "SatoshiNakamoto-xUYJbPw9hw",
                  "minimum": 1
                }
              }
            }
          }
        }
      },
      "DetailsMetrics": {
        "description": "Custodian validator performance metrics",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "protocol",
                "network",
                "custodian",
                "details"
              ],
              "properties": {
                "protocol": {
                  "type": "string",
                  "description": "Blockchain protocol.",
                  "enum": [
                    "ethereum",
                    "polkadot",
                    "solana",
                    "cosmos",
                    "polygon",
                    "near",
                    "cardano",
                    "avalanche",
                    "binance"
                  ]
                },
                "network": {
                  "type": "string",
                  "description": "Protocol-specific network.",
                  "enum": [
                    "mainnet",
                    "localnet",
                    "goerli",
                    "prater",
                    "holesky",
                    "testnet",
                    "devnet",
                    "kusama",
                    "westend",
                    "preprod",
                    "fuji",
                    "local"
                  ]
                },
                "custodian": {
                  "type": "string",
                  "description": "Custodian handle",
                  "enum": [
                    "metamask"
                  ]
                },
                "details": {
                  "type": "object",
                  "properties": {
                    "fees": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 100,
                      "format": "float",
                      "description": "Rate (%) charged based on a percentage of staking rewards",
                      "example": 3.5
                    },
                    "tvl": {
                      "type": "number",
                      "minimum": 0,
                      "format": "double",
                      "description": "Sum of validators' balances.  Includes initial deposit (32ETH) + rewards.",
                      "example": 7060624149.296207
                    },
                    "feeTiers": {
                      "type": "array",
                      "items": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 100
                      },
                      "minItems": 5,
                      "maxItems": 5,
                      "description": "The tiers of operator fee rate (%), charged based on a percentage of staking rewards. The rewards of each validator a MMI user has with you get taxed depending on their **total staking position with you**: <ul>\n  <li>Tier `1`: Less than `5000 ETH`</li>\n  <li>Tier `2`: Greater than or equal to `5000 ETH` and less than `15000 ETH`</li>\n  <li>Tier `3`: Greater than or equal to `15000 ETH` and less than `30000 ETH`</li>\n  <li>Tier `4`: Greater than or equal to `30000 ETH` and less than `60000 ETH`</li>\n  <li>Tier `5`: Greater than `60000 ETH`</li>\n</ul> Each validator \"locks in\" the five tiers that the Connector was returning at the time of staking, for the whole validator lifetime.",
                      "example": [
                        7,
                        5,
                        4,
                        3,
                        2
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ForbiddenError": {
        "description": "Caller doesn't have the required permissions.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "description": "Error response envelope",
              "required": [
                "code",
                "message"
              ],
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error code",
                  "example": 500
                },
                "message": {
                  "type": "string",
                  "description": "Error Message",
                  "example": "A descriptive error message"
                }
              }
            },
            "example": {
              "code": 403,
              "message": "Forbidden: missing permission 'read:validator'"
            }
          }
        }
      },
      "WithdrawalIntents": {
        "description": "Withdrawal intents listed",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "description": "Withdrawal intents",
              "required": [
                "protocol",
                "network",
                "customer_id"
              ],
              "properties": {
                "protocol": {
                  "type": "string",
                  "description": "Blockchain protocol.",
                  "enum": [
                    "ethereum",
                    "polkadot",
                    "solana",
                    "cosmos",
                    "polygon",
                    "near",
                    "cardano",
                    "avalanche",
                    "binance"
                  ]
                },
                "network": {
                  "type": "string",
                  "description": "Protocol-specific network.",
                  "enum": [
                    "mainnet",
                    "localnet",
                    "goerli",
                    "prater",
                    "holesky",
                    "testnet",
                    "devnet",
                    "kusama",
                    "westend",
                    "preprod",
                    "fuji",
                    "local"
                  ]
                },
                "solana": {
                  "type": "array",
                  "description": "List of withdrawal intents",
                  "items": {
                    "allOf": [
                      {
                        "type": "object",
                        "required": [
                          "withdraw_intent_id",
                          "customer_id"
                        ],
                        "properties": {
                          "withdraw_intent_id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Unique idenifier for a withdrawal intent.",
                            "example": "4ba06e89-8c29-483e-ac36-318de5aa7364"
                          },
                          "customer_id": {
                            "type": "string",
                            "description": "Unique identifier for a customer",
                            "example": "SatoshiNakamoto-xUYJbPw9hw",
                            "minimum": 1
                          }
                        }
                      },
                      {
                        "type": "object",
                        "description": "Result of a new withdrawal intent request.",
                        "required": [
                          "protocol",
                          "network",
                          "solana"
                        ],
                        "properties": {
                          "protocol": {
                            "type": "string",
                            "description": "Solana protocol",
                            "enum": [
                              "solana"
                            ]
                          },
                          "network": {
                            "type": "string",
                            "description": "Solana network",
                            "enum": [
                              "mainnet",
                              "testnet"
                            ]
                          },
                          "solana": {
                            "type": "object",
                            "required": [
                              "withdraws",
                              "total_withdraw_amount"
                            ],
                            "properties": {
                              "withdraws": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "description": "Result of the withdraw transaction request",
                                  "required": [
                                    "unsigned_transaction",
                                    "withdrawal_authority_public_key",
                                    "stake_account_address",
                                    "amount",
                                    "stake_id",
                                    "expiration_time"
                                  ],
                                  "properties": {
                                    "unsigned_transaction": {
                                      "type": "string",
                                      "format": "base64",
                                      "description": "Generated unsigned transaction smart contract call data.",
                                      "example": "0x22895118000000000000000000000000000000000000000000000000000000000000008000000000000000000000000000000000000000000000000000000000000000e00000000000000000000000000000000000000000000000000000000000000120087fed394b43849eebef1e88873cd9efdbe33136656e5148e659b8b2f33625d40000000000000000000000000000000000000000000000000000000000000030b81748644e23c4d950f9dd709f3eb73d5eacd9657997e1d9dde7c4ebd8a6519ecb9d0a7fb603d3b68e023278f9650122000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020010000000000000000000000c509bb854c526af4cee5e037089f7aa8e091d8870000000000000000000000000000000000000000000000000000000000000060b36b79b4b206c0310472c117fa40c05342b5dc3e89f98f42c9da3ce6450d4c603cad55248017fd4eca3ab277cca64569193e4d487f5b2ea78a2bcdc81926c313c05842a3af318967a775783bba22519e8b8886587efa99aa7dab5784f792b187\n"
                                    },
                                    "withdrawal_authority_public_key": {
                                      "type": "string",
                                      "description": "Public Key of an asymmetric key-pair.",
                                      "format": "base58",
                                      "pattern": "^[1-9A-HJ-NP-Za-km-z]{44}$",
                                      "example": "5xot9PVkphiX2adznghwrAuxGs2zeWisNSxMW6hU6Hkj"
                                    },
                                    "stake_account_address": {
                                      "type": "string",
                                      "description": "Public Key of an asymmetric key-pair.",
                                      "format": "base58",
                                      "pattern": "^[1-9A-HJ-NP-Za-km-z]{44}$",
                                      "example": "5xot9PVkphiX2adznghwrAuxGs2zeWisNSxMW6hU6Hkj"
                                    },
                                    "stake_id": {
                                      "description": "Unique stake identifier.",
                                      "type": "string",
                                      "format": "base58",
                                      "example": "stake_Wgx98Rbi8nQuL9ddn3mTk1"
                                    },
                                    "amount": {
                                      "type": "string",
                                      "description": "Denomination of the cryptocurrency Solana.",
                                      "pattern": "^[1-9]\\d+$",
                                      "example": "100"
                                    },
                                    "expiration_time": {
                                      "type": "integer",
                                      "description": "Transaction expiration time",
                                      "format": "int64",
                                      "example": 1689939023
                                    }
                                  }
                                }
                              },
                              "total_withdraw_amount": {
                                "type": "string",
                                "description": "Denomination of the cryptocurrency Solana.",
                                "pattern": "^[1-9]\\d+$",
                                "example": "100"
                              }
                            }
                          }
                        }
                      }
                    ]
                  }
                },
                "near": {
                  "type": "array",
                  "description": "List of withdrawal intents",
                  "items": {
                    "type": "object",
                    "description": "NEAR Protocol Withdrawal Intent",
                    "required": [
                      "to",
                      "unsigned_transaction",
                      "wallet_address",
                      "public_key",
                      "withdrawal_intent_id",
                      "expiration_time"
                    ],
                    "properties": {
                      "withdrawal_intent_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Unique idenifier for deactivate intent.",
                        "example": "4ba06e89-8c29-483e-ac36-318de5aa7364"
                      },
                      "to": {
                        "type": "string",
                        "description": "Base58 encoded public key or registered named account. [Accounts](https://docs.near.org/concepts/basics/accounts/account-id/).",
                        "pattern": "^([a-km-zA-HJ-NP-Z1-9]{22,44})|((([a-z\\d]+[-_])*[a-z\\d]+\\.)*([a-z\\d]+[-_])*[a-z\\d]+)$",
                        "example": "alice.near"
                      },
                      "unsigned_transaction": {
                        "type": "string",
                        "format": "base64",
                        "description": "Generated unsigned transaction smart contract call data.",
                        "example": "0x22895118000000000000000000000000000000000000000000000000000000000000008000000000000000000000000000000000000000000000000000000000000000e00000000000000000000000000000000000000000000000000000000000000120087fed394b43849eebef1e88873cd9efdbe33136656e5148e659b8b2f33625d40000000000000000000000000000000000000000000000000000000000000030b81748644e23c4d950f9dd709f3eb73d5eacd9657997e1d9dde7c4ebd8a6519ecb9d0a7fb603d3b68e023278f9650122000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020010000000000000000000000c509bb854c526af4cee5e037089f7aa8e091d8870000000000000000000000000000000000000000000000000000000000000060b36b79b4b206c0310472c117fa40c05342b5dc3e89f98f42c9da3ce6450d4c603cad55248017fd4eca3ab277cca64569193e4d487f5b2ea78a2bcdc81926c313c05842a3af318967a775783bba22519e8b8886587efa99aa7dab5784f792b187\n"
                      },
                      "amount": {
                        "type": "string",
                        "description": "Denomination of NEAR Protocol.",
                        "pattern": "^[1-9]\\d+$",
                        "example": "100000000000000000000000000"
                      },
                      "wallet_address": {
                        "type": "string",
                        "description": "Base58 encoded public key or registered named account. [Accounts](https://docs.near.org/concepts/basics/accounts/account-id/).",
                        "pattern": "^([a-km-zA-HJ-NP-Z1-9]{22,44})|((([a-z\\d]+[-_])*[a-z\\d]+\\.)*([a-z\\d]+[-_])*[a-z\\d]+)$",
                        "example": "alice.near"
                      },
                      "public_key": {
                        "type": "string",
                        "description": "Base58 encoded public key prefixed by ed25519, associated with the private key that will be used to sign the transaction.",
                        "example": "ed25519:Cxg2wgFYrdLTEkMu6j5D6aEZqTb3kXbmJygS48ZKbo1S",
                        "pattern": "^ed25519:[a-km-zA-HJ-NP-Z1-9]{22,44}$"
                      },
                      "expiration_time": {
                        "type": "integer",
                        "description": "Transaction expiration time",
                        "format": "int64",
                        "example": 1689939023
                      }
                    }
                  }
                },
                "customer_id": {
                  "type": "string",
                  "description": "Unique identifier for a customer",
                  "example": "SatoshiNakamoto-xUYJbPw9hw",
                  "minimum": 1
                }
              }
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "description": "Error response envelope",
              "required": [
                "code",
                "message"
              ],
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error code",
                  "example": 500
                },
                "message": {
                  "type": "string",
                  "description": "Error Message",
                  "example": "A descriptive error message"
                }
              }
            }
          }
        }
      },
      "DetailsId": {
        "description": "Custodian validator performance metrics id",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "id"
              ],
              "properties": {
                "id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "EthereumQueuesProgress": {
        "description": "Ethereum queue estimate response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "validators",
                "last_updated"
              ],
              "properties": {
                "last_updated": {
                  "type": "string",
                  "description": "Time validator state was recorded",
                  "example": "2024-04-15 08:23:00"
                },
                "validators": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "Ethereum validator queue progress validator",
                    "required": [
                      "public_key",
                      "epochs_remaining"
                    ],
                    "properties": {
                      "public_key": {
                        "type": "string",
                        "description": "Public Key of an asymmetric key-pair.",
                        "format": "hex",
                        "example": "0xa1d1ad0714035353258038e964ae9675dc0252ee22cea896825c01458e1807bfad2f9969338798548d9858a571f7425c"
                      },
                      "epochs_remaining": {
                        "description": "the number of epochs remaining in the current queue",
                        "type": "integer",
                        "format": "int64",
                        "example": 280312
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "InvalidRequest": {
        "description": "Invalid request.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "description": "Error response envelope",
              "required": [
                "code",
                "message"
              ],
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error code",
                  "example": 400
                },
                "message": {
                  "type": "string",
                  "description": "Error Message",
                  "example": "Detailed human-readable diagnostic message regarding any invalid request parameters"
                }
              }
            }
          }
        }
      },
      "ListPlans": {
        "description": "Successful operation",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "plans",
                "pagination"
              ],
              "properties": {
                "pagination": {
                  "type": "object",
                  "description": "encapsulates pagination properties",
                  "required": [
                    "page",
                    "per_page",
                    "total"
                  ],
                  "properties": {
                    "page": {
                      "description": "current page number",
                      "type": "integer",
                      "format": "int64"
                    },
                    "per_page": {
                      "description": "number of results per page",
                      "type": "integer",
                      "format": "int64"
                    },
                    "total": {
                      "description": "total number of results",
                      "type": "integer",
                      "format": "int64"
                    }
                  }
                },
                "plans": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "staking plan for validators",
                    "required": [
                      "id",
                      "protocol",
                      "network",
                      "config",
                      "customer_id",
                      "staking_plan_type",
                      "title"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "This feature enables you to stake to validators from the specified plan(s). When no plan id is specified, validators across all plans that match the API route will be available for staking. If it is a shared plan, you can to stake to validators on a shared node from the specified plan.",
                        "example": "plan_Wgx98Rbi8nQuL9ddn3mTk1"
                      },
                      "customer_id": {
                        "type": "string",
                        "description": "Unique identifier for a customer",
                        "example": "SatoshiNakamoto-xUYJbPw9hw",
                        "minimum": 1
                      },
                      "protocol": {
                        "type": "string",
                        "description": "Blockchain protocol.",
                        "enum": [
                          "ethereum",
                          "polkadot",
                          "solana",
                          "cosmos",
                          "polygon",
                          "near",
                          "cardano",
                          "avalanche",
                          "binance"
                        ]
                      },
                      "network": {
                        "type": "string",
                        "description": "Protocol-specific network.",
                        "enum": [
                          "mainnet",
                          "localnet",
                          "goerli",
                          "prater",
                          "holesky",
                          "testnet",
                          "devnet",
                          "kusama",
                          "westend",
                          "preprod",
                          "fuji",
                          "local"
                        ]
                      },
                      "provider": {
                        "description": "Cloud provider which will host the node.",
                        "x-go-type": "models.ProviderID",
                        "x-go-type-import": {
                          "path": "go.blockdaemon.com/nodeq-server/pkg/models",
                          "name": "models"
                        }
                      },
                      "region": {
                        "description": "cloud provider's zone code",
                        "type": "string"
                      },
                      "minimum": {
                        "description": "minimum number of validators to be available. required for white label plans",
                        "type": "integer",
                        "format": "int64"
                      },
                      "config": {
                        "oneOf": [
                          {
                            "type": "object",
                            "description": "Ethereum staking plan config",
                            "required": [
                              "inventory_type"
                            ],
                            "properties": {
                              "suggested_fee_recipient": {
                                "type": "string",
                                "description": "the suggested fee recipient address",
                                "minimum": 1
                              },
                              "mev": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "ID of the MEV fee recipient. optional"
                                  },
                                  "enabled": {
                                    "type": "boolean"
                                  },
                                  "relays": {
                                    "type": "array",
                                    "description": "List of Relay urls",
                                    "items": {
                                      "type": "string",
                                      "format": "uri",
                                      "description": "Relay url"
                                    },
                                    "minItems": 1
                                  }
                                }
                              },
                              "inventory_type": {
                                "type": "string",
                                "description": "Indicates if the quantity of validators for the staking plan is static or dynamic. Static is a once off deployment of a specified quantity of validators. Dynamic is where an initial quantity of validators is deployed with a threshold of available validators also configured. If the number of available validators within the validator inventory drops below the threshold (by being reserved as part of a stake intents API call) then the dynamic plan will automatically deploy the required infrastructure to bring the number of available validators above the threshold.",
                                "enum": [
                                  "static",
                                  "dynamic"
                                ]
                              },
                              "execution_client": {
                                "type": "string",
                                "description": "The execution client to use on the node",
                                "enum": [
                                  "geth",
                                  "besu"
                                ]
                              }
                            }
                          },
                          {
                            "type": "object",
                            "description": "Solana staking plan config",
                            "required": [
                              "validator_address"
                            ],
                            "properties": {
                              "validator_address": {
                                "type": "object",
                                "required": [
                                  "mainnet",
                                  "testnet"
                                ],
                                "properties": {
                                  "mainnet": {
                                    "type": "string",
                                    "description": "Public Key of an asymmetric key-pair.",
                                    "format": "base58",
                                    "pattern": "^[1-9A-HJ-NP-Za-km-z]{44}$",
                                    "example": "5xot9PVkphiX2adznghwrAuxGs2zeWisNSxMW6hU6Hkj"
                                  },
                                  "testnet": {
                                    "type": "string",
                                    "description": "Public Key of an asymmetric key-pair.",
                                    "format": "base58",
                                    "pattern": "^[1-9A-HJ-NP-Za-km-z]{44}$",
                                    "example": "5xot9PVkphiX2adznghwrAuxGs2zeWisNSxMW6hU6Hkj"
                                  }
                                }
                              }
                            }
                          },
                          {
                            "type": "object",
                            "description": "Polygon staking plan config",
                            "required": [
                              "validator_share_address"
                            ],
                            "properties": {
                              "validator_share_address": {
                                "type": "object",
                                "required": [
                                  "mainnet",
                                  "testnet"
                                ],
                                "properties": {
                                  "mainnet": {
                                    "type": "string",
                                    "description": "Hex-encoded Ethereum [account or smart contract address](https://ethereum.org/en/developers/docs/accounts/).",
                                    "format": "hex",
                                    "pattern": "^0x[a-fA-F0-9]{40}$",
                                    "example": "0x00000000219ab540356cBB839Cbe05303d7705Fa"
                                  },
                                  "testnet": {
                                    "type": "string",
                                    "description": "Hex-encoded Ethereum [account or smart contract address](https://ethereum.org/en/developers/docs/accounts/).",
                                    "format": "hex",
                                    "pattern": "^0x[a-fA-F0-9]{40}$",
                                    "example": "0x00000000219ab540356cBB839Cbe05303d7705Fa"
                                  }
                                }
                              }
                            }
                          },
                          {
                            "type": "object",
                            "description": "Cardano staking plan config",
                            "required": [
                              "stake_pool_id"
                            ],
                            "properties": {
                              "stake_pool_id": {
                                "type": "object",
                                "required": [
                                  "mainnet",
                                  "preprod"
                                ],
                                "properties": {
                                  "mainnet": {
                                    "type": "string",
                                    "description": "bech32 encoded pool id.",
                                    "format": "bech32",
                                    "example": "pool1ev8fwfccn8gr0zcz3uyps0t0mcrefc6s95wjc6aed3ngc86y5rk"
                                  },
                                  "preprod": {
                                    "type": "string",
                                    "description": "bech32 encoded pool id.",
                                    "format": "bech32",
                                    "example": "pool1ev8fwfccn8gr0zcz3uyps0t0mcrefc6s95wjc6aed3ngc86y5rk"
                                  }
                                }
                              }
                            }
                          },
                          {
                            "type": "object",
                            "description": "Avalanche staking plan config",
                            "required": [
                              "validator_address"
                            ],
                            "properties": {
                              "validator_address": {
                                "type": "object",
                                "required": [
                                  "mainnet",
                                  "fuji"
                                ],
                                "properties": {
                                  "mainnet": {
                                    "type": "string",
                                    "description": "Avalanche validator node address",
                                    "pattern": "^NodeID-[A-Za-z0-9]{43}$",
                                    "example": "NodeID-B19uSxUKerjjnA215czAJLHMqNJMbsAMWuSxUKerjjW"
                                  },
                                  "fuji": {
                                    "type": "string",
                                    "description": "Avalanche validator node address",
                                    "pattern": "^NodeID-[A-Za-z0-9]{43}$",
                                    "example": "NodeID-B19uSxUKerjjnA215czAJLHMqNJMbsAMWuSxUKerjjW"
                                  }
                                }
                              }
                            }
                          },
                          {
                            "type": "object",
                            "description": "Cosmos staking plan config",
                            "required": [
                              "validator_address"
                            ],
                            "properties": {
                              "validator_address": {
                                "type": "object",
                                "required": [
                                  "mainnet",
                                  "testnet"
                                ],
                                "properties": {
                                  "mainnet": {
                                    "type": "string",
                                    "description": "Public Key of an asymmetric key-pair.",
                                    "format": "bech32",
                                    "pattern": "^cosmos[1-9a-zA-Z]{39}$",
                                    "example": "cosmos1wvvhhfm387xvfnqshmdaunnpujjrdxznr5d5x9"
                                  },
                                  "testnet": {
                                    "type": "string",
                                    "description": "Public Key of an asymmetric key-pair.",
                                    "format": "bech32",
                                    "pattern": "^cosmos[1-9a-zA-Z]{39}$",
                                    "example": "cosmos1wvvhhfm387xvfnqshmdaunnpujjrdxznr5d5x9"
                                  }
                                }
                              }
                            }
                          },
                          {
                            "type": "object",
                            "description": "Binance staking plan config",
                            "required": [
                              "validator_address"
                            ],
                            "properties": {
                              "validator_address": {
                                "type": "object",
                                "required": [
                                  "mainnet",
                                  "testnet"
                                ],
                                "properties": {
                                  "mainnet": {
                                    "type": "string",
                                    "description": "Binance beacon chain validator address.",
                                    "format": "bech32",
                                    "pattern": "^bva[0-9a-zA-Z]*$",
                                    "example": "bva1mrpf5n5e5knn3z9qng5pnex3m9pvyhg6434j0t"
                                  },
                                  "testnet": {
                                    "type": "string",
                                    "description": "Binance beacon chain validator address.",
                                    "format": "bech32",
                                    "pattern": "^bva[0-9a-zA-Z]*$",
                                    "example": "bva1mrpf5n5e5knn3z9qng5pnex3m9pvyhg6434j0t"
                                  }
                                }
                              }
                            }
                          }
                        ]
                      },
                      "total_pending": {
                        "description": "total number of pending validators in a staking plan",
                        "type": "integer",
                        "format": "int64"
                      },
                      "total_available": {
                        "description": "total number of available validators in a staking plan",
                        "type": "integer",
                        "format": "int64"
                      },
                      "total_active": {
                        "description": "total number of active validators in a staking plan",
                        "type": "integer",
                        "format": "int64"
                      },
                      "staking_plan_type": {
                        "type": "string",
                        "description": "Indicates if the staking plan requires a Blockdaemon validator launch or it is associated to a public validator.",
                        "enum": [
                          "white_label",
                          "public"
                        ]
                      },
                      "title": {
                        "type": "string",
                        "description": "Plan title for display purposes"
                      },
                      "total_reserved": {
                        "description": "total number of reserved validators in a staking plan",
                        "type": "integer",
                        "format": "int64"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ListValidators": {
        "description": "Successful operation",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "validators"
              ],
              "properties": {
                "pagination": {
                  "type": "object",
[...]
